<!DOCTYPE html>
<html>
<head>
	<title> Personal Information Release </title>
</head>
<body>
	<h1> Personal information release </h>
	<form method="post" action="/submit">
		<label for="name"> Name: </label>
		<input type="text" id="name" name="name"><br>
		
		<label for="gender"> Gender: </label>
		<input type="radio" id="gender" name="gender" value="male"> male
		<input type="radio" id="gender" name="gender" value="female"> female <br>
		
		<label for="age"> Age: </label>
		<input type="number" id="age" name="age"><br>
		<input type="submit" value="submit">
</form>
</body>
</html>
